{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            text-align: center;
        }
        .content-container {
            display: flex;

        }
        .text-container {
            margin-left: 20px; /* Adjust the margin as needed */
        }

         .content-container1 {
            display: flex;
            flex-direction:row-reverse;
        }
        .text-container1 {
            margin-right: 20px;

        }
    </style>
</head>
<body style="background-color:#A0D198 ;">
    {% block body %}
    <div>
     <a href="{% url 'andhrapradesh' %}" style="text-decoration: none; margin-right:1490px;"> <button type="button" style="border-radius:100px; font-size:20px; background-color:#924802; color:#ffffff;"><</button></a>
    <marquee><h1>RELIGION</h1></marquee>
        </div>
    <div class="content-container">
        <img src="{% static 'religion/hinduism.jpg' %}" alt="hindu" style="width:800px; height:400px;">
        <div class="text-container">
            <h2>HINDUISM</h2>
            <h3>hindu-Hinduism, deeply ingrained in the cultural fabric of Andhra Pradesh, plays a pivotal role in shaping the spiritual landscape of the region. With a rich history that intertwines mythology, ancient traditions, and diverse rituals, Hinduism in Andhra Pradesh is a vibrant tapestry that reflects the religious syncretism of the state. The majority of the population in Andhra Pradesh practices Hinduism, and the state is home to numerous temples, pilgrimage sites, and festivals that celebrate the various deities worshipped within the Hindu pantheon.
</h3>
<br><h3>
One of the significant aspects of Hinduism in Andhra Pradesh is the prominence of revered temples such as Tirumala Tirupati Devasthanams, dedicated to Lord Venkateswara, attracting millions of pilgrims annually. The state is also known for its unique blend of Bhakti (devotion) and classical arts, with various dance forms, music, and sculpture flourishing as expressions of religious devotion. The festivals like Ugadi, Bonalu, and Varalakshmi Vratam are celebrated with great fervor, bringing communities together in a shared celebration of their faith. Hinduism not only influences the religious practices but also permeates into the social, cultural, and familial aspects of life, creating a holistic way of living for the people of Andhra Pradesh.
</h3>
        </div>
    </div>

<br><br>

     <div class="content-container1">
        <img src="{% static 'religion/islam.jpg' %}" alt="kuchipudi2" style="width:800px; height:400px;">
        <div class="text-container1">
            <h2>ISLAM</h2>
            <h3>Islam has a significant presence in Andhra Pradesh, contributing to the religious and cultural diversity of the state. The history of Islam in Andhra Pradesh dates back to medieval times when the region witnessed the establishment of Islamic dynasties and the spread of the faith through trade and cultural exchanges. Today, the Muslim population in Andhra Pradesh is substantial, with mosques and Islamic institutions scattered across the state. The community actively participates in various aspects of life, contributing to the socio-economic and educational development of the region.
</h3>
<br><h3>
Andhra Pradesh is home to a blend of cultural practices, with Muslim festivals like Eid ul-Fitr and Eid ul-Adha being celebrated with enthusiasm and communal harmony. The architectural heritage includes mosques such as the Mecca Masjid in Hyderabad, showcasing the influence of Islamic art and design. The state reflects a coexistence of diverse religious communities, fostering an environment of mutual respect and understanding. The cultural amalgamation in Andhra Pradesh is evident in the culinary traditions, language, and festivals, where Islamic influences have become an integral part of the rich tapestry of the region.
</h3>
        </div>
    </div>
    {% endblock %}
</body>
</html>
