{% extends 'Navbar1.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% block body %}
<div>
<br>
    &nbsp;

<div class="card-group">

  <div class="card">
    <img src="{% static 'images/classicald.jpeg' %}" class="card-img-top" alt="..." height="300px">
    <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">CLASSICAL DANCES</h5>
      <p class="card-text">Classical dances in India, such as Bharatanatyam and Kathak, are ancient art forms characterized by intricate movements, expressive gestures, and cultural storytelling, representing a vibrant and integral part of India's heritage and tradition.</p>
    </div>
  </div>

    &nbsp;
 <div class="card">

    <img src="{% static 'images/yoga.png' %}" class="card-img-top" alt="..." height="300px" >
     <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">AYURVEDA AND YOGA</h5>
      <p class="card-text">Ayurveda, traditional Indian medicine, focuses on holistic well-being. Yoga and meditation, rooted in ancient philosophy, have gained global popularity for promoting physical and mental health.</p>
    </div>
  </div>
    &nbsp;
  <div class="card">

    <img src="{% static 'images/religion.jpeg' %}" class="card-img-top" alt="..." height="300px" >
     <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">RELIGIOUS PRACTICES</h5>
      <p class="card-text">Hinduism, Islam, Christianity, Sikhism, Buddhism, and Jainism are major religions. Practices include prayer, meditation, and visiting temples, mosques, churches, gurudwaras, and other places of worship.</p>
    </div>
  </div>

</div>
    &nbsp;
<br>
&nbsp;
<div class="card-group">

  <div class="card">
    <img src="{% static 'images/language.png' %}" class="card-img-top" alt="..." height="323x">
     <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">LANGUAGE DIVERSITY</h5>
      <p class="card-text">Hindi is widely spoken, but there are 21 officially recognized languages. English is also extensively used in business and education. Each state often has its own language.</p>
    </div>

  </div>
    &nbsp;
  <div class="card">

    <img src="{% static 'images/tradition1.jpg' %}" class="card-img-top" alt="..." height="300px" >
     <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">FESTIVALS</h5>
      <p class="card-text">
India has many festivals that bring people together in colorful celebrations, showcasing the country's diverse cultures and religious traditions. From Diwali's lights to Holi's colors, these events foster a sense of joy and unity.</p>
    </div>

  </div>
    &nbsp;
<div class="card">

    <img src="{% static 'images/foods.jpg' %}" class="card-img-top" alt="..." height="325px" >
     <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">FOODS & CULTURE</h5>
      <p class="card-text">Indian food is famous for its tasty and varied dishes, including flavorful curries and sweets like gulab jamun, showcasing the diverse and culturally influenced culinary landscape of the country.</p>
    </div>
  </div>
    &nbsp;
</div>
</div>
{% endblock %}
</body>
</html>