{% extends 'Navstates.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% block body %}
<div>
<br>
    &nbsp;

<div class="card-group">
     <a href="{% url 'loginpage' %}" style="text-decoration: none;">
  <div class="card">
    <img src="{% static 'states/AP.jpg' %}" class="card-img-top" alt="..." height="330px">
    <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">ANDHRA PRADESH</h5>
      <p class="card-text">Andhra Pradesh is one of the leading rice-growing states in the country and is a major producer of India's tobacco. The state's rivers—particularly the Godavari and the Krishna, but also the Penneru—account for its agricultural importance.</p>

    </div>
      </a>
  </div>

    &nbsp;
 <div class="card">
       <a href="{% url 'loginpage' %}" style="text-decoration: none;">
    <img src="{% static 'states/Ap1.png' %}" class="card-img-top" alt="..." height="330px" >
     <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">ARUNACHAL PRADESH</h5>
      <p class="card-text">The largest of the Seven Sisters of the North East, Arunachal Pradesh literally means 'the land of dawn-lit mountains'. This almost virgin land beckons visitors with its verdant valleys, pristine water bodies, rich heritage and ancient monuments.</p>
    </div>
           </a>
  </div>
    &nbsp;
  <div class="card">
       <a href="{% url 'loginpage' %}" style="text-decoration: none;">
    <img src="{% static 'states/assam.png' %}" class="card-img-top" alt="..." height="307px" >
     <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">ASSAM</h5>
      <p class="card-text">Assam is known for Assam tea and Assam silk. The state was the first site for oil drilling in Asia. Assam is home to the one-horned Indian rhinoceros, along with the wild water buffalo, pygmy hog, tiger and various species of Asiatic birds, and provides one of the last wild habitats for the Asian elephant.</p>
    </div>
  </div>
    </a>
</div>
    &nbsp;

&nbsp;
<div class="card-group">
     <a href="{% url 'loginpage' %}" style="text-decoration: none;">
  <div class="card">
    <img src="{% static 'states/Bhihar.png' %}" class="card-img-top" alt="..." height="305x">
     <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">BIHAR</h5>
      <p class="card-text">The great spiritual way of Buddhism originated and thrived in ancient Bihar, as Buddha attained his enlightenment in Bodh gaya. Therefore the region is full of remains of the monasteries known as Stupa. Jain leader Mahavira also belonged to this region and attained his Nirvana at Pawapuri.</p>
    </div>
      </a>
  </div>
    &nbsp;
  <div class="card">
       <a href="{% url 'loginpage' %}" style="text-decoration: none;">
    <img src="{% static 'States/CH.jpg' %}" class="card-img-top" alt="..." height="330px" >
     <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">CHHATTISGARH</h5>
      <p class="card-text">Chhattisgarh is an uniquely Indian experience. Home to the country's widest waterfalls, caves, lush green forests, ancient monuments, rare wild life, exquisitely curved temples, Buddhist sites and hill plateaus.</p>
    </div>
           </a>
  </div>
    &nbsp;
<div class="card">
       <a href="{% url 'loginpage' %}" style="text-decoration: none;">
    <img src="{% static 'states/Goa.png' %}" class="card-img-top" alt="..." height="355px" >
     <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">GOA</h5>
      <p class="card-text">The state of Goa, in India, is famous for its beaches and places of worship. Tourism is its primary industry, and is generally focused on the coastal areas of Goa, with decreased tourist activity inland.</p>
    </div>
       </a>
  </div>
    &nbsp;   &nbsp;
<br>

<div style="margin-top:30px;">
<div class="card-group">
     <a href="{% url 'loginpage' %}" style="text-decoration: none;">
  <div class="card">
    <img src="{% static 'states/Gujarat.jpg' %}" class="card-img-top" alt="..." height="300px">
    <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">GUJARAT</h5>
      <p class="card-text">It is the home state of Mahatma Gandhi, the Father of the Nation. It is renowned for its beaches, temple towns and historic capitals. Wildlife sanctuaries, hill resorts and natural grandeur are gifts of Gujarat. Sculpture, handicrafts, arts, festivals also make the state rich.</p>

    </div>
      </a>
  </div>
  <br>
    &nbsp;
 <div class="card">
       <a href="{% url 'loginpage' %}" style="text-decoration: none;">
    <img src="{% static 'states/Haryana.png' %}" class="card-img-top" alt="..." height="300px" >
     <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">HARYANA</h5>
      <p class="card-text">Haryana is well known for its cattle wealth and is the home of the famous Murrah buffalo and the Haryana cow. No wonder there is an abundance of milk and milk products in Haryanvi cuisine. People make butter and ghee at home and use these liberally in their daily diet.</p>
    </div>
           </a>
  </div>
    &nbsp;
  <div class="card">
       <a href="{% url 'loginpage' %}" style="text-decoration: none;">
    <img src="{% static 'states/HP.png' %}" class="card-img-top" alt="..." height="300px" >
     <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">HIMACHAL PRADHESH</h5>
      <p class="card-text">Himachal is also known for its adventure tourism activities like ice skating in Shimla, paragliding in Bir Billing and Solang Valley, rafting in Kullu, skiing in Manali, boating in Bilaspur, fishing in Tirthan Valley, trekking and horse riding in different parts of the state.</p>
    </div>
  </div>
    </a>
</div>
    &nbsp;</div>

&nbsp;
<div class="card-group">
     <a href="{% url 'loginpage' %}" style="text-decoration: none;">
  <div class="card">
    <img src="{% static 'states/jhaekand.jpg' %}" class="card-img-top" alt="..." height="316x">
     <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">JHARKHAND</h5>
      <p class="card-text">Jharkhand is famous for its rich mineral resources like Uranium, Mica, Bauxite, Granite, Gold, Silver, Graphite, Magnetite, Dolomite, Fireclay, Quartz, Fieldspar, Coal (32% of India), Iron, Copper (25%of India) etc. Forests and woodlands occupy more than 29% of the state which is amongst the highest in India</p>
    </div>
      </a>
  </div>
    &nbsp;
  <div class="card">
       <a href="{% url 'loginpage' %}" style="text-decoration: none;">
    <img src="{% static 'states/karnataka.jpg' %}" class="card-img-top" alt="..." height="340px" >
     <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">KARNATAKA</h5>
      <p class="card-text">
Karnataka is primarily known for its Heritage destinations and its Wildlife/ National Parks. Apart from that, it is also famous for its magical hill stations, spectacular waterfalls, pilgrimage centres and a 320km long coastline dotted with un-spoilt beaches.</p>
    </div>
           </a>
  </div>
    &nbsp;
<div class="card">
       <a href="{% url 'loginpage' %}" style="text-decoration: none;">
    <img src="{% static 'states/kerala.png' %}" class="card-img-top" alt="..." height="316px" >
     <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">KERALA</h5>
      <p class="card-text">Named as one of the ten paradises of the world by National Geographic Traveler, Kerala is famous especially for its ecotourism initiatives and beautiful backwaters. Its unique culture and traditions, coupled with its varied demography, have made Kerala one of the most popular tourist destinations in the world.</p>
    </div>
       </a>
  </div>
    &nbsp;   &nbsp;
<br>

<div style="margin-top:30px;">
<div class="card-group">
     <a href="{% url 'loginpage' %}" style="text-decoration: none;">
  <div class="card">
    <img src="{% static 'states/maharastra.jpg' %}" class="card-img-top" alt="..." height="300px">
    <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">MAHARASTRA</h5>
      <p class="card-text">Maharashtra is one of India's largest commercial and industrial centres, which has led to its being called the gateway of India. Maharashtra is also famous for its culture and beauty. The ancient cave paintings found at Ajanta and Ellora are UNESCO World Heritage sites and popular tourist destinations.</p>

    </div>
      </a>
  </div>

    &nbsp;
 <div class="card">
       <a href="{% url 'loginpage' %}" style="text-decoration: none;">
    <img src="{% static 'states/manipur.png' %}" class="card-img-top" alt="..." height="325px" >
     <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">MANIPUR</h5>
      <p class="card-text">Ayurveda, traditional Indian medicine, focuses on holistic well-being. Yoga and meditation, rooted in ancient philosophy, have gained global popularity for promoting physical and mental health.</p>
    </div>
           </a>
  </div>
    &nbsp;
  <div class="card">
       <a href="{% url 'loginpage' %}" style="text-decoration: none;">
    <img src="{% static 'states/megalaya.png' %}" class="card-img-top" alt="..." height="300px" >
     <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">MEGHALAYA</h5>
      <p class="card-text">Located in North-east India, Meghalaya, also known as the Abode of Clouds, falls in one of the richest biodiversity areas in the world. The famed monsoons, the rich traditional festivals, and the dramatic terrain are just some of the many things this state is famous for.</p>
    </div>
  </div>
    </a>
</div>
    &nbsp;</div>

&nbsp;
<div class="card-group">
     <a href="{% url 'loginpage' %}" style="text-decoration: none;">
  <div class="card">
    <img src="{% static 'states/mizoram.png' %}" class="card-img-top" alt="..." height="323x">
     <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">MIZORAM</h5>
      <p class="card-text">Mizoram is home to dense forests, tribes, a few hill stations, and many national parks. It is known for its tourism, culture, and traditions. The hill station of Aizawl is the Capital of Mizoram. People from all around the world come to Mizoram to relax and unwind amidst its forests and landscapes.</p>
    </div>
      </a>
  </div>
    &nbsp;
  <div class="card">
       <a href="{% url 'loginpage' %}" style="text-decoration: none;">
    <img src="{% static 'states/MP.png' %}" class="card-img-top" alt="..." height="325px" >
     <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">MADHYA PRADESH</h5>
      <p class="card-text">
Madhya Pradesh is the “Tiger State of India”. Madhya Pradesh has three UNESCO World Heritage Sites: Bhimbetka, Sanchi and Khajuraho. Pench National Park inspired Rudyard Kipling's 'The Jungle Book' and the real Mowgli was found in Jungle of Seoni. Snooker was invented at Jabalpur.</p>
    </div>
           </a>
  </div>
    &nbsp;
<div class="card">
       <a href="{% url 'loginpage' %}" style="text-decoration: none;">
    <img src="{% static 'states/nagaland.png' %}" class="card-img-top" alt="..." height="325px" >
     <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">NAGALAND</h5>
      <p class="card-text">Nagaland is a mountainous state in northeast India is known for its diverse indigenous tribes and vibrant culture. With its stunning landscapes, unique festivals, and delicious cuisine, Nagaland tourismoffers visitors a glimpse into a world that is both traditional and modern.</p>
    </div>
       </a>
  </div>
    &nbsp;   &nbsp;
<div style="margin-top:30px;">
<div class="card-group">
     <a href="{% url 'loginpage' %}" style="text-decoration: none;">
  <div class="card">
    <img src="{% static 'states/odisha.png' %}" class="card-img-top" alt="..." height="300px">
    <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">ODISHA</h5>
      <p class="card-text">Odisha is well-known for its historical landmarks and breathtaking scenery. Odisha is the eighth-largest state in East India by area and the eleventh largest in terms of population. Odisha has a 485-kilometre (301-mile) coastline around the Bay of Bengal. Utkala is another name for the area.</p>

    </div>
      </a>
  </div>

    &nbsp;
 <div class="card">
       <a href="{% url 'loginpage' %}" style="text-decoration: none;">
    <img src="{% static 'states/punjab.png' %}" class="card-img-top" alt="..." height="300px" >
     <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">PUNJAB</h5>
      <p class="card-text">Punjab has always been land of great saints and fighters. Tourist places - Punjab is the place of Sikhism . The holiest of Sikh shrines, the Sri Harmandir Sahib (or Golden Temple), is in the city of Amritsar . The five Takhts (Temporal Seats of religious authority) of Sikhism, three are in Punjab.</p>
    </div>
           </a>
  </div>
    &nbsp;
  <div class="card">
       <a href="{% url 'loginpage' %}" style="text-decoration: none;">
    <img src="{% static 'states/rajasthan.png' %}" class="card-img-top" alt="..." height="300px" >
     <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">RAJASTHAN</h5>
      <p class="card-text">Renowned for its jewellery industry, Rajasthan is one of the world's largest centres for hand-cutting gems. It is also known for its spectacular variety of gold and silver jewellery. Every region in Rajasthan has its unique style and there's something to cater to everyone's tastes.</p>
    </div>
  </div>
    </a>
</div>
    &nbsp;
</div>
&nbsp;
<div class="card-group">
     <a href="{% url 'loginpage' %}" style="text-decoration: none;">
  <div class="card">
    <img src="{% static 'states/sikkim.png' %}" class="card-img-top" alt="..." height="323x">
     <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">SIKKIM</h5>
      <p class="card-text">A part of the Eastern Himalaya, Sikkim is notable for its biodiversity, including alpine and subtropical climates, as well as being a host to Kangchenjunga, the highest peak in India and third highest on Earth. Sikkim's capital and largest city is Gangtok.</p>
    </div>
      </a>
  </div>
    &nbsp;
  <div class="card">
       <a href="{% url 'loginpage' %}" style="text-decoration: none;">
    <img src="{% static 'states/telengana.jpg' %}" class="card-img-top" alt="..." height="300px" >
     <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">TELENGANA</h5>
      <p class="card-text">
Home to famous attractions like the Char Minar, Golkonda Fort, Chowmahalla Palace and much more, Telangana is a state famous for its bronze castings, minarets and handicrafts. The state was originally a part of the region of Hyderabad in Andhra Pradesh and is said to be packed with a rich history and heritage.</p>
    </div>
           </a>
  </div>
    &nbsp;
<div class="card">
       <a href="{% url 'loginpage' %}" style="text-decoration: none;">
    <img src="{% static 'states/TN.png' %}" class="card-img-top" alt="..." height="325px" >
     <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">TAMIL NADU</h5>
      <p class="card-text">In addition to the long history of the Tamil people, Tamil Nadu is famous for its temples, festivals, and celebration of the arts. The Hindu temples and monuments at Mamallapuram have become famous tourist attractions.</p>
    </div>
       </a>
  </div>
    &nbsp;   &nbsp;
<div style="margin-top:30px;">
<div class="card-group">
     <a href="{% url 'loginpage' %}" style="text-decoration: none;">
  <div class="card">
    <img src="{% static 'states/tripura.png' %}" class="card-img-top" alt="..." height="290px">
    <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">TRIPURA</h5>
      <p class="card-text">Within its small geographical area, Tripura offers plenty of attractions for the tourists in the form of magnificent palaces (Ujjayanta Palace and Kunjaban Palace at Agartala and Neermahal - Lake Palace at Melaghar), splendid rock-cut carvings and stone images (Unakoti near Kailashahar, Debtamura near Amarpur and Pilak .</p>

    </div>
      </a>
  </div>

    &nbsp;
 <div class="card">
       <a href="{% url 'loginpage' %}" style="text-decoration: none;">
    <img src="{% static 'states/UP.png' %}" class="card-img-top" alt="..." height="337px" >
     <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">UTTAR PRADESH</h5>
      <p class="card-text">Uttar Pradesh is known for its rich culture and tradition. It is home to Ayodhya and Mathura birthplace of Lord Rama, Lord Krishna and Bhgwan Parshuram respectively. Uttar Pradesh attracts many national and international tourists.</p>
    </div>
           </a>
  </div>
    &nbsp;
  <div class="card">
       <a href="{% url 'loginpage' %}" style="text-decoration: none;">
    <img src="{% static 'states/utrakand.png' %}" class="card-img-top" alt="..." height="313px" >
     <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">UTTARAKHAND</h5>
      <p class="card-text">Uttarakhand, a state in northern India crossed by the Himalayas, is known for its Hindu pilgrimage sites. Rishikesh, a major centre for yoga study, was made famous by the Beatles' 1968 visit. The city hosts the evening Ganga Aarti, a spiritual gathering on the sacred Ganges River.</p>
    </div>
  </div>
    </a>
</div>
    &nbsp;
<br>
&nbsp;<div style="margin-right:500px; margin-left:500px;">
<div class="card-group">
     <a href="{% url 'loginpage' %}" style="text-decoration: none;">
  <div class="card">
    <img src="{% static 'states/westbengal.png' %}" class="card-img-top" alt="..." height="323x" width="100px">
     <div class="card-body" style="background-color:#924802; color:#F8F9F9;">
      <h5 class="card-title">WEST BENGAL</h5>
      <p class="card-text">With its broad network of rivers and geographical features, West Bengal is celebrated for having the largest mangrove forest in the world in the Sunderbans. Declared a UNESCO World Heritage site, the Sunderbans is universally acclaimed for housing globally endangered species such as the Royal Bengal Tiger.</p>
    </div>
      </a>
  </div>
</div>
</div>
</div>
{% endblock %}
</body>
</html>