{% extends 'Navbar1.html' %}
{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>VEDIC-CULTURE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% block body %}
<div style="background-color:#A0D198;">
<div class="container">
        <h1 class="text-center">DISCOVER VEDAS</h1>
        <div class="row mt-4">
            <div class="col-sm-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Rigveda</h5>
                        <p class="card-text"> According to tradition, Vyasa is the compiler of the Vedas, who arranged the four kinds of mantras into four Samhitas (Collections).</p>
                        <a href="{% url 'rigveda'%}" class="btn btn-primary">Know More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Samaveda</h5>
                        <p class="card-text">The Vedas were initially recited- in words before being written down. Agni Rishi delivered the first Veda (Rig Veda), the second by Vayu Rishi (Yajur Veda), the third by Aditya Rishi (Sam Veda), and the final by Angira Rishi (Atharva Veda).</p>
                        <a href="#" class="btn btn-primary">Know More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Yajurveda</h5>
                        <p class="card-text">Most of its verses are taken from the Rigveda, but it also contains some original prose Mantra which could be used as sacrificial prayers. Yajurveda was written by Veda Vyasa. This Veda was taught to Vaishampayana</p>
                        <a href="#" class="btn btn-primary">Know More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Atharvaveda</h5>
                        <p class="card-text">The last of the four texts is known as the Atharvaveda (or Atharva Veda). It was inspired by and potentially authored by the healer Atharvan, Vedic seer (diviner), priest, and (allegedly) the son of the god Brahmā, one of the three central gods of the Hindu pantheon.</p>
                        <a href="#" class="btn btn-primary">Know More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
<p>.</p>
    </div>
</div>
{% endblock %}
</body>
</html>